<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.doit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
       android:label="DoIt"

        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity"
            >
            <intent-filter  >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DaysActivity"
            android:label="7 days">

        </activity>
        <activity android:name=".EditActivity"
            android:parentActivityName=".EditActivity"
            android:label="New task">

        </activity>
        <activity android:name=".SettingsActivity"
            android:label="Projects"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".NotificationActivity"
            android:label="Notifications"
            android:parentActivityName=".MainActivity">

        </activity>

        <provider
            android:name=".data.TaskProvider"
            android:authorities="com.example.android.doit"
            android:exported="false" />
        <receiver android:name=".NotificationPublisher">

        </receiver>

    </application>


</manifest>